.dropdown-menu {
  list-style: none;
  text-align: start;
  position: relative;
}

.menu-items {
  padding: 15px 15px 15px 30px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

@media (min-width: 769px) {
  .dropdown-menu {
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.15);
    position: absolute;
    top: 50px;
  }

  .dropdown-menu li:hover {
    background: rgba(255, 255, 255, 0.308);
  }

  .drop-menu {
    display: none;
  }
}
