footer {
  background-color: var(--dark);
}

footer p {
  margin: 0;
}

footer .footer-inner {
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

footer .footer-inner .contact-info {
  font-size: 14px;
}

footer .footer-inner .contact-info .phone a,
.email a {
  text-decoration: none;
  color: var(--bg-primary);
}

footer .footer-inner .contact-info .address > p {
  color: var(--bg-primary);
}

.address,
.phone,
.email {
  padding-bottom: 5px;
}

.working-hours > p {
  color: var(--bg-primary);
}

footer .footer-inner .social-media {
  display: flex;
  gap: 10px;
}

footer .credit {
  text-align: center;
  color: #ffffff79;
}

footer .footer-inner .social-media a {
  color: var(--bg-primary);
}

@media (min-width: 769px) {
  footer .footer-inner {
    flex-direction: row;
    justify-content: space-between;
  }
}
