.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-size: cover;
}

.hero-bg {
  width: inherit;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.center {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  gap: 30px;
  text-align: center;
}

.center div h2 {
  font-size: 52px;
  letter-spacing: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: white;
}

.title_two {
  padding: 0 20px;
}

.title_two h3 {
  font-size: 18px;
  color: white;
  font-family: "quicksand", sans-serif;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons a {
  padding: 10px 20px;
  background-color: bisque;
}

main {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}

@media (min-width: 769px) {
  .center {
    width: 90%;
    margin: auto;
  }
  .center div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .title_two {
    max-width: 50%;
  }

  .title_two h3 {
    font-size: 22px;
  }
}
@media (min-width: 1000px) {
  .center div h2 {
    font-size: 60px;
  }
}
@media (min-width: 1400px) {
  .center div h2 {
    font-size: 70px;
  }
  .title_two h3 {
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .title_two {
    max-width: 40%;
  }
  .center div h2 {
    font-size: 80px;
  }
  .title_two h3 {
    font-size: 28px;
  }
}
