.navigation {
  padding: 10px 20px;
  color: #212529;
  width: 100%;
  position: absolute;
  top: 105px;
  background-color: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
  cursor: pointer;
  z-index: 20;
}

.nav-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  list-style: none;
  left: -100%;
  opacity: 1;
  position: absolute;
  top: 49.6px;
  transition: all 0.5s ease;
}

.nav-side-menu.start {
  background-color: rgb(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  width: 100%;
}

.nav-links {
  padding: 15px 24px;
  width: 100%;
  color: #000;
  display: table;
  transition: 0s;
  text-decoration: none;
  font-family: "quicksand", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.menu-icon {
  cursor: pointer;
  font-size: 25px;
}

.nav-links-phone {
  display: none;
}

@media (min-width: 769px) {
  .navigation {
    position: absolute;
    top: 0;
    background-color: transparent !important;
  }

  .logo {
    cursor: pointer;
  }

  .menu-icon {
    display: none;
  }

  .nav-side-menu {
    flex-direction: row;
    gap: 10px;
    right: 0;
    justify-content: end;
    top: 0;
    height: 50px;
    align-items: center;
  }

  .nav-links-phone {
    display: flex;
    padding: 15px 24px;
    text-decoration: none;
    gap: 5px;
    color: var(--text-color);
  }

  .nav-links-phone i {
    color: var(--text-color);
  }
}

.nav-color {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255, 0.15);
  position: fixed;
}

.transparent {
  background-color: transparent;
}
