.services h3 {
  text-align: center;
  margin: 10px 0;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 22px;
  color: var(--dark);
}

.services p {
  max-width: 370px;
}

.services .services-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 90%;
  margin: auto;
}

.services .services-inner .service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .services-inner .service img {
  width: 100%;
  max-width: 350px;
}

.services .services-inner .service button {
  border: none;
  border-radius: 5px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--light);
}

.services .services-inner .service button i {
  font-size: 10px;
  color: #fff;
}
.services .services-inner .service button a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 769px) {
  .services .services-inner {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
