.testimonials {
  margin: 50px 0;
}

.testimonials-inner {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.mySwiper .swiper-slide {
  width: 100% !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.block {
  background-color: #fff;
  padding: 15px;
  margin: 50px 15px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
}

.block .top {
  margin-bottom: 30px;
  text-align: center;
}

.image {
  position: relative;
}

.image img {
  width: 100px !important;
  height: 100px;
  border: 7px solid var(--text-color) !important;
  border-radius: 170px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.top .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-name:after {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 25px);
  background-color: var(--underline);
}

.content {
  width: 90%;
  margin: auto;
}

.content p {
  line-height: 18px;
  font-size: 14px;
}

.user-name {
  position: relative;
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: 500;
  font-size: 22px;
  color: var(--title);
}

.info h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  color: var(--title);
}

.bottom {
  margin-bottom: 20px;
}

@media (min-width: 769px){
  .user-name {
    font-size: 28px;
  }
  .info h4 {
    font-size: 22px;
  }

  .content p {
    line-height: 24px;
    font-size: 20px;
  }
}